.search-input {
    padding: 0.8rem;
    background-color: var(--clr-search-input);
    color: var(--clr-search-input-text);
    border: var(--clr-search-input-border);
    border-radius: var(--radius-default);
    width: 100%;
}